# Traballando con ficheiro purchases.txt

## Load data

Load the data in `???/purchases.txt` into an RDD:

In [1]:
rdd = sc.textFile('PURCHASES/purchases.txt') # Cargamos el dataset

In [2]:
rdd.first() # cargamos la primera linea del datset

u"2012-01-01\t09:00\tSan Jose\tMen's Clothing\t214.05\tAmex"

In [4]:
rdd.toDebugString()

'(2) PURCHASES/purchases.txt MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0 []\n |  PURCHASES/purchases.txt HadoopRDD[0] at textFile at NativeMethodAccessorImpl.java:0 []'

In [3]:
rdd.take (5)

[u"2012-01-01\t09:00\tSan Jose\tMen's Clothing\t214.05\tAmex",
 u"2012-01-01\t09:00\tFort Worth\tWomen's Clothing\t153.57\tVisa",
 u'2012-01-01\t09:00\tSan Diego\tMusic\t66.08\tCash',
 u'2012-01-01\t09:00\tPittsburgh\tPet Supplies\t493.51\tDiscover',
 u"2012-01-01\t09:00\tOmaha\tChildren's Clothing\t235.63\tMasterCard"]

In [5]:
rdd.takeSample(withReplacement=True, num=5) # nos muestra 5 ejemplos aleatorios

[u'2012-07-25\t14:26\tLincoln\tConsumer Electronics\t68.64\tVisa',
 u'2012-04-16\t16:20\tAnchorage\tMusic\t479.55\tVisa',
 u'2012-09-13\t13:39\tReno\tVideo Games\t128.71\tCash',
 u'2012-06-14\t17:31\tSacramento\tDVDs\t102.22\tVisa',
 u'2012-08-12\t14:28\tDetroit\tToys\t298.84\tMasterCard']

## Filter 'San Jose' data

Filter data from the RDD keeping only "San Jose" lines.

In [6]:
sanjose_lines = rdd.filter(lambda line: 'San Jose' in line)

In [7]:
sanjose_lines.count ()

39898

## Count the number of purchases in San Jose

In [8]:
sanjose_lines.count ()

39898

## Find the maximum cost

Extract the column with the cost strings:

In [19]:
sanjose_strings = sanjose_lines.map(lambda line: line.split('\t')[4]) # como está separado por tabuladores ponemos ('t') y como está por separado por 4 tabulaciones se pone[4]

In [20]:
sanjose_strings.take(5)

[u'214.05', u'215.82', u'337.71', u'192.82', u'95.81']

And now we can convert them to floats:

In [28]:
values_cost = sanjose_strings.map(lambda x: float(x)) # cambiamos a los elementos de temperature la coma por puntos

In [29]:
values_cost.take(5)

[214.05, 215.82, 337.71, 192.82, 95.81]

Finally we can calculate the maximum temperature:

In [30]:
values_cost.reduce(lambda x,y: x if x>y else y)

499.99

In [32]:
values_cost.reduce(lambda x,y: max(x,y))

499.99

Or directly with **max** function

In [33]:
values_cost.reduce(lambda x,y: max(x,y))

499.99

## Find the minimum cost

In [35]:
min_cost = values_cost.filter(lambda x: x != 0.0)

In [36]:
min_cost.reduce(lambda x,y: min(x,y))

0.03